<a href="https://colab.research.google.com/github/Vijayalakshmi-Indhuja/PythonDS/blob/main/PSEST_28_03_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PSES 28/03/23

Day 1

1. why python ?
2. Hello World
3. Variables
4. Data Types
5. Data Structures

Day 2

5. Data Structures

Day 3
6. Arithmatic operators
7. COndtional operators
8. Conditional Statements
9. Loops

In [ ]:
print('Hello World')

Hello World

In [ ]:
print('Karthick')

Karthick

In [ ]:
print('Welcome to Data Science World !! ')

Welcome to Data Science World !!

In [ ]:
print(1000)

1000

In [ ]:
print(25.5)

25.5

#Variables
Creating Variables

In [ ]:
x = 10

1. Variable name can start with any case (upper or lower)
2. Variable name should not start with numbers
3. Variable name should not have space
4. Variable name should not contain spcl characters
5. variable name should not be a key word

In [ ]:
Name = 'Kamal'

name = 'Hassan'

Name_1st = 'Rajini'

Second_Name = 'Kanth'

Second_First = 'Rajini Kanth'

In [ ]:
print(Second_First)

Rajini Kanth

#Data Types

1. int
2. float
3. str
4. bool

In [ ]:
#int - mobile no, pincode, door no, age, account no
#float - temp, bill, percnetage, marks, height, weight, timing
#str - address, name, mail id, password, pan card no
#bool - in/out, up/down, right/left, push/pull, start/stop, head/tail

kamal = 65

number = 100 #int

weight = 77.5 #float

name = 'Kamal' #str

Name = "Rajini" #str

name = 'kamal' #str

Switch_on = True

Switch_Off = False


Number = '100' #str

#Typecasting

In [ ]:
b = float(number)

print(b)

100.0

In [ ]:
c = str(number)

print(c)
print(type(c))

100
<class 'str'>

In [ ]:
d = int(name)

print(d)

ValueError: ignored

In [ ]:
a = float(Number)
print(a)
print(type(a))

100.0
<class 'float'>

#type() - will find datatypes of a variable

In [ ]:
print(type(Switch_on))

<class 'bool'>

In [ ]:
print(type(name))

<class 'str'>

In [ ]:
print(type(weight))

<class 'float'>

In [ ]:
print(number)

100

In [ ]:
print(type(number))

<class 'int'>

In [ ]:
e = '100.4'

print(int(float(e)))

100

#Data Structures

1. List - [ ] 
2. Tuple
3. Set
4. Dictionary

# List - [ ] 
1. List can contain multiple datatypes
2. list is ordered
3. List elements can be accessed by using index no
4. list elements can be changed by item assignment
5. list supports nested list
6. List can contain duplicate values

In [ ]:
person_detail = [ 'name', 23456123 ,9457896123, 'karthick@gmail.com','chennai', 'ifsc', 'branch','photo', 10000.50 , True, 'name','name' ]

person  = [[ 'name', 23456123 ,9457896123, 'karthick@gmail.com','chennai', 'ifsc', 'branch','photo', 10000.50 , True ] ,
                  [ 'name', 23456123 ,9457896123, 'ram@gmail.com','chennai', 'ifsc', 'branch','photo', 10000.50 , True ],
                  [ 'name', 23456123 ,9457896123, 'praveen@gmail.com','chennai', 'ifsc', 'branch','photo', 10000.50 , [100,200,300] ]]

In [ ]:
person[1][3]

'ram@gmail.com'

In [ ]:
person_detail

['name',
 23456123,
 9457896123,
 'karthick@gmail.com',
 'chennai',
 'ifsc',
 'branch',
 'photo',
 10000.5,
 True,
 'name',
 'name']

In [ ]:
person[1][3]

'ram@gmail.com'

In [ ]:
person[2][7]

'photo'

In [ ]:
person[2][9][2]

300

In [ ]:
len(person)

3

In [ ]:
print(person_detail)

['name', 23456123, 9457896123, 'karthick@gmail.com', 'chennai', 'ifsc', 'branch', 'photo', 10000.5, True, 'name', 'name']

#len(variable_name)

In [ ]:
print(len(person_detail))

12

#taking or accessing the values from datastructures

#variable_name[index_no]

In [ ]:
print(person_detail[6])

branch

In [ ]:
print(person_detail[3])

karthick@gmail.com

In [ ]:
person_detail

['name',
 23456123,
 9457896123,
 'karthick@gmail.com',
 'chennai',
 'ifsc',
 'branch',
 'photo',
 10000.5,
 True,
 'name',
 'name']

**Item Assignment**

In [ ]:
person_detail[8] = 5000.5

In [ ]:
person_detail

['name',
 23456123,
 9457896123,
 'karthick@gmail.com',
 'chennai',
 'ifsc',
 'branch',
 'photo',
 5000.5,
 True,
 'name',
 'name']

In [ ]:
person_detail[0] = "karthick"

In [ ]:
person_detail

['karthick',
 23456123,
 9457896123,
 'karthick@gmail.com',
 'chennai',
 'ifsc',
 'branch',
 'photo',
 5000.5,
 True,
 'name',
 'name']

#Slicing

In [ ]:
person_detail = [ 'karthick', 23456123 ,9457896123, 'karthick@gmail.com','chennai', 'ifsc', 'branch','photo', 10000.50 , True, 'name','name',
                 (100,200,300) ]

In [ ]:
person_detail.index('photo')

7

In [ ]:
person_detail[0:4] #variable_name[ start_index_no : End_value_index_no + 1 : skip_value ]

['karthick', 23456123, 9457896123, 'karthick@gmail.com']

In [ ]:
person_detail[4 : 10 ]

['chennai', 'branch', 5000.5]

In [ ]:
print(person_detail)

['karthick', 23456123, 9457896123, 'karthick@gmail.com', 'chennai', 'ifsc', 'branch', 'photo', 10000.5, True, 'name', 'name']

In [ ]:
person_detail[ 5 : ]

['ifsc', 'branch', 'photo', 10000.5, True, 'name', 'name']

In [ ]:
person_detail[ : : 3 ]

['karthick', 'karthick@gmail.com', 'branch', True]

In [ ]:
person_detail[ 1 : 11 : 3]

[23456123, 'chennai', 'photo', 'name']

#Tuple - ( )

1. It accepts all data types
2. tuple is ordered
3. tuple elements accessed by using index position
4. tuple does not support item assignment
5. tuple supports nested tuples
6. tuple can contain duplicates

In [ ]:
adhar_detail = ( 'Ajith', '12/12/12', 'Male', 'Chennai', 'photo', 123456 , 600025, 77.5 , 178, False, 'Ajith','Male', 'Male1' )


adhar = ( ( 'Ajith', '12/12/12', 'Male', 'Chennai', 'photo', 123456 , 600025, 77.5 , 178, False ) ,
         ( 'Vijay', '12/12/12', 'Male', 'Chennai', 'photo', 123456 , 600025, 77.5 , 178, False ),
         ( 'Surya', '12/12/12', 'Male', 'Chennai', 'photo', 123456 , 600025, 77.5 , 178, False ), [100,200,300] , {1,2,3} )

In [ ]:
adhar_detail[0:4]

('Ajith', '12/12/12', 'Male', 'Chennai')

In [ ]:
name = 'Karthick'

In [ ]:
name[ :  : -1 ].title()

'Kcihtrak'

In [ ]:
adhar_detail[ 9 :  : -1]

(False,
 178,
 77.5,
 600025,
 123456,
 'photo',
 'Chennai',
 'Male',
 '12/12/12',
 'Ajith')

In [ ]:
adhar_detail[-1]

'Male1'

In [ ]:
adhar[4][1]

TypeError: ignored

In [ ]:
print(adhar_detail)

('Ajith', '12/12/12', 'Male', 'Chennai', 'photo', 123456, 600025, 77.5, 178, False, 'Ajith', 'Male', 'Male')

In [ ]:
adhar_detail[6]

600025

In [ ]:
adhar_detail[ 4 : 8 ]

('photo', 123456, 600025, 77.5)

In [ ]:
adhar_detail[5] = 789456

TypeError: ignored

In [ ]:
convert = list(adhar_detail)

In [ ]:
convert[0] = 'Siva'

In [ ]:
convert

['Siva',
 '12/12/12',
 'Male',
 'Chennai',
 'photo',
 123456,
 600025,
 77.5,
 178,
 False,
 'Ajith',
 'Male',
 'Male']

In [ ]:
adhar_detail = tuple(convert)

In [ ]:
adhar_detail

('Siva',
 '12/12/12',
 'Male',
 'Chennai',
 'photo',
 123456,
 600025,
 77.5,
 178,
 False,
 'Ajith',
 'Male',
 'Male')

#Set - { }

1. Set can hold multiple datatypes
2. Set is unordered
3. Set values can not be accessed by index values
4. Set does not support item assignment
5. Set does not support nested set or data structures
6. Set does not hold duplicates

In [ ]:
company_employee = { 'Priya', 1012, 145632, 50000.75, True , 'Priya',1012,'Priya'}

#company = { 2, [1,2,3] }

In [ ]:
print(company_employee)

{145632, True, 50000.75, 1012, 'Priya'}

In [ ]:
print(company_employee)

{145632, True, 50000.75, 1012, 'Priya'}

In [ ]:
company_employee[1]

TypeError: ignored

In [ ]:
company_employee[1] = 1013

TypeError: ignored

In [ ]:
list(company_employee)

[145632, True, 50000.75, 1012, 'Priya']

#Dictionary - { 'key' : 'value' }

1. dict can hold multiple datatypes
2. it is ordered
3. dict values accessed by using keys
4. dict supports item or value assignments
5. dict supports nested dict or datastructures
6. dict does not hold duplicate keys

In [ ]:
person = { 'name':'hari', 'age': 25 , 'dept':'Data Science', 75.5 : 'Weight' }

persons = {'details': { 'name':'hari', 'age': 25 , 'dept':'Data Science', 75.5 : 'Weight' } }

employees = {'names' : ['karthik','jhon','saif','vennila','ram'], 'age' : { 12,34,56,45} , 'names' : 'priya', 
             'Names' : 'priya', 'first':'priya', 'Names': 'harika' }

In [ ]:
employees

{'names': 'priya',
 'age': {12, 34, 45, 56},
 'Names': 'harika',
 'first': 'priya'}

In [ ]:
employees['Names']

'harika'

In [ ]:
employees['first']

'priya'

In [ ]:
print(person)

{'name': 'hari', 'age': 25, 'dept': 'Data Science', 75.5: 'Weight'}

In [ ]:
person['name']

'hari'

In [ ]:
person[75.5]

'Weight'

In [ ]:
person['Weight']

KeyError: ignored

In [ ]:
person['age'] = 26

In [ ]:
print(person)

{'name': 'hari', 'age': 26, 'dept': 'Data Science', 75.5: 'Weight'}

#ARITHMATIC OPERATORS

In [ ]:
#arithmatic operations

# add - (+)
#sub - (-)
#multi - (*)
#power - (**)
#div - (/)
#modulo - % - GIVES REMAINDER
#floor division - // - QOUTIENT
10/2

5.0

In [ ]:
11%2

1

In [ ]:
11//2

5

In [ ]:
23//7

3

#CONDITIONAL or COMPARISION OPERATORS

In [ ]:
5 != 6

True

In [ ]:
5 < 4

False

In [ ]:
5 <= 5

True

#CONDITIONAL STATEMENTS

In [ ]:
#IF - ELSE STATEMENTS

#WASHING MACHINE - YES/NO

#1. - BUY WASHING MACHINE - WASHING CLOTHES
#2. LAUNDRY
#3. IN HOUSE
#NO - SAVING MONEY/ 


status = 'yes'

if True :

  print('washing clothes')

else: 
  
  print('Give cloths laundry')

washing clothes

In [ ]:

#1. - BUY WASHING MACHINE - WASHING CLOTHES
#2. LAUNDRY
#3. IN HOUSE
#NO - SAVING MONEY/ 

#USER INPUT 1,2,3

User_Pref = int(input())

method = input()

variety = input()

if User_Pref == 3 and method == 'Dry' :
  print('Buy An washing machine')

  if variety == 'cotton':
    print('iron the shirt')
  else:
    print('Need not iron')

elif User_Pref == 2 or method == 'Wet':
  print('Give clothes to laundry')

elif User_Pref == 4:
  print('Wash cloths in-house')

else:
  print('Select correct option')

3
Dry
polyester
Buy An washing machine
Need not iron

In [ ]:
10 > 5 and 100 > 200

False

In [ ]:
False or False

False

In [ ]:
status == 'no'

True

In [ ]:
NAME = 5

In [ ]:
NAME == 6

False

#LOOPS

1. FOR
2. WHILE

In [ ]:
print(1)
print(2)
print(3)
print(4)
print(5)

1
2
3
4
5

In [ ]:
# 1 - 10

for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [ ]:
4%3 != 0

True

In [ ]:
for i in range(1,21):
  if i%3 != 0:
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20

In [ ]:
sentence = 'Guvi Geek'

sentence[0]

'G'

In [ ]:
#join() - will work only on strings

print('  '.join(sentence))

G  u  v  i     G  e  e  k

In [ ]:
print(*sentence)

G u v i   G e e k

In [ ]:
for i in sentence:
  print(i)

G
u
v
i

G
e
e
k

#while loop

In [ ]:
6//2 != 3

False

In [ ]:
i = 1

while i//2 != 3 :
  i = i + 1
  print(i)

2
3
4
5
6

In [ ]:
for i in range(1,21):
  print(i)

  if i == 10:
    print('broken')
    break

1
2
3
4
5
6
7
8
9
10
broken

In [ ]:
pers = ('Ajith', '12/12/12', 'Male', 'Chennai', 'photo', 123456, 600025, 77.5, 178, False, 'Ajith', 'Male', 'Male1')

In [ ]:
pers[len(pers)-1]

'Male1'

In [ ]:
pers[-1]

'Male1'

In [ ]:
day31 = [1,3,5,7,8,10,12]

month = int(input())


if month in day31:
  print(31)

else:
  print('less than 31')

3
31

In [ ]:
2 in range(1,10)

True